<template>
  <eVideo src="https://www.w3schools.com/html/mov_bbb.mp4">
  </eVideo>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import eVideo from '../components/eVideo.vue'

export default defineComponent({
  components: {
    eVideo
  }
})
</script>