<template>
  <div :class="{
    'absolute w-full bottom-0': absolute,
    'p-4': round && absolute
    }">
    <div :class="{
          'control-bar': true,
          'p-0': dense,
          'opacity-0': isHiding,
          'rounded-md': round
          }"
    >
      <button
        class="hover:text-red-500"
        @click="$emit('togglePlay')"
        >
        <span v-if="playing" class="ml-2 mdi mdi-pause"></span>
        <span v-else class="ml-2 mdi mdi-play"></span>
      </button>
      <span class="mx-4 select-none">{{ timeToSeconds(currentTime) }}</span>
      <div
        ref="dragBar"
        class="relative flex items-center flex-grow h-1 bg-white rounded-full cursor-pointer"
        @mousedown="activateProgressBar"
        >
        <div class=" absolute h-1 bg-gray-300 rounded-full shadow-inner" :style="'width: ' + bufferSize + '%'">
        </div>
        <div class=" absolute h-1 bg-red-500 rounded-full shadow-inner flex items-center" :style="'width: ' + barSize + '%'">
          <div class="bullet right-0 z-10 bg-red-500">
            <eTooltip :active="dragging">
              {{ timeToSeconds(CurrentTime) }}
            </eTooltip>
          </div>
        </div>
        <div
          v-for="(chapter, key) in chapters"
          :key="key"
          :class="[
            'chapter',
            barSize >= chapter.time * 100 / duration ? 'bg-red-500' : bufferSize >= chapter.time * 100 / duration ? 'bg-gray-300' : 'bg-white'
          ]"
          :style="`left: ${chapter.time * 100 / duration}%`"
          @mouseover="showTooltip = key"
          @mouseout="showTooltip = -1"
        >
          <eTooltip
            v-if="chapter.label"
            :active="showTooltip === key"
            >
            {{chapter.label}}
          </eTooltip>
        </div>
      </div>
      <span class="mx-4 select-none">{{ timeToSeconds(duration) }}</span>
      <button
        :class="{
          'relative hover:text-red-500 mr-2': true,
          'text-red-500': volumeBar
        }"
        @click="toggleVolume"
        >
        <span v-if="muted" class="mdi mdi-volume-off"></span>
        <span v-else class="mdi mdi-volume-high"></span>
        <eTooltip
          :active="volumeBar"
          color="bg-gray-600"
          vertical
        >
          <eRange
            vertical
            @changeValue="updateVolume"
            :value="volume * 100"
            />
        </eTooltip>
      </button>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue'
import eTooltip from './eTooltip.vue'
import eRange from './eRange.vue'

export default defineComponent({
  components: {
    eTooltip,
    eRange
  },
  props: {
    'absolute': Boolean,
    'hide': Boolean,
    'dense': Boolean,
    'round': Boolean,
    'playing': Boolean,
    'muted': Boolean,
    'volume': {
      type: Number,
      default: .5
    },
    'currentTime': {
      type: Number,
      default: 0
    },
    'duration': {
      type: Number,
      default: 0
    },
    'buffered': {
      type: Number,
      default: 0
    },
    'chapters': {
      type: Array as PropType<Array<{time: number, label: string}>>,
      default: () => []
    }
  },
  emits: [
    'chapter',
    'togglePlay',
    'update-play-time',
    'volume'
  ],
  data:()=>({
    dragging: false,
    barSize: 0,
    bufferSize: 0,
    CurrentTime: 0,
    currentChapter: -1,
    showTooltip: -1,
    isHiding: false,
    volumeBar: false,
    timeout: 0
  }),
  methods: {
    timeToSeconds (time: number): string {
      const seconds = Math.floor(time % 60)
      const minutes = Math.floor(time / 60 % 60)
      return `${minutes >= 0 ? minutes : 0}:${seconds >= 10 ? seconds : seconds >= 0 ? '0' + seconds : '00'}`
    },

    activateProgressBar (event: MouseEvent): void {
      this.dragging = true
      this.changePlayTime (event)
    },
    dragProgressBar (event: MouseEvent): void {
      if(this.dragging) {
        this.changePlayTime (event)
      }
    },
    changePlayTime (event: MouseEvent): void {
      const dragBar = this.$refs.dragBar as HTMLDivElement
      const newSize = (event.clientX - dragBar.offsetLeft) * 100 / dragBar.clientWidth
      this.barSize = newSize < 0 ? 0 : newSize > 100 ? 100 : newSize
      this.CurrentTime= newSize / 100 * this.duration
    },
    releaseProgressBar () {
      if (this.dragging) {
        this.dragging = false
        this.$emit('update-play-time', this.CurrentTime)
      }
    },

    flagChapters () {
      if (this.chapters && this.chapters.length > 0) {
        for (let i=0; i<this.chapters.length; i++) {
          const nextTime = this.chapters[i+1] ? this.chapters[i+1].time : this.duration
          if (this.currentTime! >= this.chapters[i].time &&
              this.currentTime! < nextTime &&
              this.currentChapter !== i ) {
            this.$emit('chapter', i)
            this.currentChapter = i
            console.log(i)
            return
          }
        }
      }
    },

    showHiddenBar () {
      if(this.hide) {
        this.isHiding = false
        clearTimeout(this.timeout)
        this.timeout = setTimeout(() => { this.isHiding = true }, 1000);
      }
    },

    toggleVolume () {
      this.volumeBar = !this.volumeBar
    },
    updateVolume(volume: string) {
      this.$emit('volume', volume)
    },

  },
  watch: {
    currentTime () { this.barSize = this.currentTime / this.duration * 100 },
    bufferTime () { this.bufferSize = this.duration > 0 ? Math.round(this.buffered) * 100 / Math.round(this.duration) : 0 },
    barSize () { this.flagChapters() }
  },
  mounted () {
    this.isHiding = this.hide
    window.addEventListener('mousemove', this.dragProgressBar)
    window.addEventListener('mouseup', this.releaseProgressBar)
  },
  unmounted () {
    window.removeEventListener('mousemove', this.dragProgressBar);
    window.removeEventListener('mouseup', this.releaseProgressBar);
  }

})
</script>

<style lang="postcss" scoped>
.control-bar {
  @apply relative flex items-center bg-gray-600 text-white p-2 transition duration-500 ease-in-out z-50 w-full;
}

.bullet {
  @apply absolute w-3 h-3 ring-2 ring-red-500 rounded-full shadow cursor-pointer;

  transform: translateX(50%);
}

.chapter {
  @apply bullet;
  @apply ring-0;

  transform: translateX(-50%);
}
</style>