<template>
  <div class="w-6 h-18 flex flex-col items-center">
    <div class="relative -mt-2 mb-2"> {{showRange}} </div>
    <div class="wrapper">
      <input
        type="range"
        :class="['range', orientation]"
        :step="step"
        :min="min"
        :max="max"
        v-model="range"
        >
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import eTooltip from './eTooltip.vue'

export default defineComponent({
  components: {
    eTooltip
  },
  props: {
    'vertical': {
      type: Boolean,
      default: false
    },
    'min': {
      type: Number,
      default: 0
    },
    'max': {
      type: Number,
      default: 100
    },
    'step': {
      type: Number,
      default: 1
    },
    'value': {
      type: Number,
      default: 0.5
    }
  },
  emits: ['changeValue'],
  data: ()=>({
    range: '50',
  }),
  computed: {
    orientation (): string {return this.vertical ? 'vertical' : 'horizontal'},
    showRange (): number {return parseInt(this.range)}
  },
  methods: {
    emitRange () {
      this.$emit('changeValue', this.showRange)
    }
  },
  watch: {
    showRange () { this.emitRange() },
    value () { if (this.value <= 100 && this.value >= 0) this.range = this.value.toString() }
  },
  mounted () {
    if (this.value) this.range = this.value.toString()
  }
})
</script>

<style lang="postcss" scoped>
.wrapper {
  @apply relative w-1 h-24;
}

.range {
  @apply absolute bottom-0 left-0 bg-white rounded-full w-24 h-1;
  -webkit-appearance: none; /* Override default look */
  appearance: none;
}

.range::-webkit-slider-thumb {
  @apply bg-red-500 cursor-pointer border-transparent shadow;
  outline: none;
}

.range::-moz-range-thumb {
  @apply bg-red-500 cursor-pointer border-transparent shadow;
  outline: none;
}

.vertical {
  @apply transform origin-top-left -rotate-90;
}
</style>