<template>
  <div
    :class="['label', color ? color :'bg-red-500', vertical ? 'vertical' : 'horizontal', active ? 'active': '']"
    >
    <slot></slot>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  props: {
    'active': Boolean,
    'color': String,
    'vertical': Boolean
  }
})
</script>

<style lang="postcss" scoped>
  .label {
    @apply absolute opacity-0 shadow-md text-white text-xs -mt-5 rounded select-none transition duration-200 ease-in-out;

    left: 50%;
    bottom: 100%;
    transform: translateX(-50%);
  }

  .active {
    @apply opacity-100;

    transform: translateX(-50%) translateY(-14px);
  }

  .horizontal {
    @apply py-1 px-4;
  }

  .vertical {
    @apply px-1 pb-2 pt-4;
  }
</style>