<template>
  <div class="relative flex flex-col w-full h-full"
    @mousemove="showHiddenBar">
    <div class="overflow-hidden w-full h-full">
      <div
        class="absolute flex justify-center items-center w-full h-full"
        @click="clickHandler"
        @dblclick="clickHandler"
        >
        <button :class="['absolute btn', toggleButton === 'pause' ? 'activeBtn' : '']" >
          <span :class="['mdi', paused ? 'mdi-pause' : 'mdi-play']"></span>
        </button>
        <div class="absolute w-full h-full z-10 grid grid-cols-2">
          <button
            @dblclick="rewind(10)"
            :class="['btn', toggleButton === 'rewind' ? 'activeBtn' : '']">
            <span class="mdi mdi-rewind-10"></span>
          </button>
          <button
            @dblclick="fastForward(10)"
            :class="['btn', toggleButton === 'fastforward' ? 'activeBtn' : '']">
            <span class="mdi mdi-fast-forward-10"></span>
          </button>
        </div>
      </div>
      <video
        ref="videoPlayer"
        :class="[cover ? 'object-cover object-center' : 'object-contain', 'w-full h-full']"

        @abort="updatePlayStatus('abort')"
        @canplay="checkAutoplay"
        @canplaythrough="$emit('canplaythrough')"
        @durationchange="$emit('durationchange')"
        @emptied="$emit('emptied')"
        @ended="$emit('ended')"
        @loadeddata="$emit('loadeddata')"
        @loadedmetadata="mediaInfoUpdate"
        @pause="updatePlayStatus('pause')"
        @play="updatePlayStatus('play')"
        @playing="updatePlayStatus('playing')"
        @progress="bufferUpdate"
        @ratechange="$emit('ratechange')"
        @seeked="$emit('seeked')"
        @seeking="$emit('seeking')"
        @stalled="$emit('waiting')"
        @suspend="$emit('suspend')"
        @timeupdate="timeUpdate"
        @waiting="$emit('waiting')"

        disablePictureInPicture
        :loop="loop"
        :muted="muted"
        playsinline

        >
        <source :src="src" type="video/mp4">
        Your browser does not support HTML video.
      </video>
    </div>
    <eControlBar
      v-if="controls"
      ref="controlBar"

      :playing="!paused"
      :muted="volume === 0"
      :currentTime="currentTime"
      :buffered="buffered"
      :duration="duration"
      :chapters="chapters"
      :volume="volume"

      :absolute="absolute"
      :hide="hide"
      :dense="dense"
      :round="round"

      @togglePlay="togglePlay"
      @updateCurrentTime="updateCurrentTime"
      @volume="updateVolume"
    />
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue'
import eControlBar from './eControlBar.vue'

interface ControlBarElement extends HTMLDivElement {
    showHiddenBar() : void;
}
type updateStatusFlag = 'abort' | 'canplay' | 'pause' | 'play' | 'playing';

export default defineComponent({
  components: {
    eControlBar
  },
  props: {
    'autoplay': {
      type: Boolean,
      default: false
    },
    'controls': {
      type: Boolean,
      default: false
    },
    'loop': {
      type: Boolean,
      default: false
    },
    'muted': {
      type: Boolean,
      default: false
    },
    'src': String,

    'chapters': {
      type: Array as PropType<Array<{time: number, label: string}>>,
      default: () => []
    },
    'cover': {
      type: Boolean,
      default: false
    },
    'absolute': Boolean,
    'hide': Boolean,
    'dense': Boolean,
    'round': Boolean
  },
  emits: [
    'abort',
    'canplay',
    'canplaythrough',
    'complete',
    'durationchange',
    'emptied',
    'ended',
    'loadeddata',
    'loadedmetadata',
    'mediaInfoUpdate',
    'muted',
    'pause',
    'play',
    'playing',
    'progress',
    'ratechange',
    'seeked',
    'seeking',
    'waiting',
    'suspend',
    'timeupdate',
    'waiting',
    'volumechange',

    'chapter'
  ],
  data () {
    return {
      buffered: 0,
      currentTime: 0,
      duration: 0,
      paused: true,
      toggleButton: 'pause',
      timeout: 0,
      volume: 0.5,
      isMounted: false,
      player: this.$refs.videoPlayer as HTMLVideoElement
    }
  },
  methods: {
    playMedia() {
      this.player.play()
      this.timeout = setTimeout(() => {this.toggleButton = ''}, 250)
    },
    pauseMedia() {
      this.player.pause()
    },
    togglePlay() {
      this.player.paused ? this.playMedia() : this.pauseMedia()
    },
    checkAutoplay() {
      if (this.autoplay) this.playMedia
      this.updatePlayStatus('canplay')
    },

    updatePlayStatus(flag: updateStatusFlag) {
      this.paused = this.player.paused
      this.$emit(flag)
    },
    updateVolume(volume: string) {
      this.player.volume = parseInt(volume) / 100
      this.volume = this.player.volume
      this.$emit(this.muted === true ? 'muted' : 'volumechange', volume)
    },

    timeUpdate() {
      this.currentTime = this.player.currentTime
      this.$emit('timeupdate')
    },
    bufferUpdate() {
      this.buffered = this.duration > 0 ? this.player.buffered.end(this.player.buffered.length - 1) : 0
    },
    mediaInfoUpdate() {
      this.duration = this.player.duration
      this.$emit('loadedmetadata')
      this.bufferUpdate()
    },

    updateCurrentTime(value: number) {
      this.player.currentTime = value
    },
    rewind(value: number) {
      this.updateCurrentTime(-value)
      this.toggleButton = 'rewind'
      setTimeout(() => {this.toggleButton = ''}, 250)
    },
    fastForward(value: number) {
      this.updateCurrentTime(value)
      this.toggleButton = 'fastforward'
      setTimeout(() => {this.toggleButton = ''}, 250)
    },
    clickHandler(event: MouseEvent) {
      if (this.timeout != 0) clearTimeout(this.timeout)
      if (event.type == 'click') {
        this.timeout = setTimeout(() => {
          this.togglePlay()
          this.toggleButton = 'pause'
        }, 250)
      }
    },

    keyboardHandler (event: KeyboardEvent) {
      switch(event.code) {
        case 'Space':
          this.togglePlay
          break;
        case 'ArrowRight':
          this.fastForward(10)
          break;
        case 'ArrowLeft':
          this.rewind(10)
          break;
        case 'ArrowUp':
          const increaseVolume = (this.volume + 0.1) * 100 > 100 ? 100 : (this.volume + 0.1) * 100
          if (this.volume < 1 ) this.updateVolume(increaseVolume.toString())
          break;
        case 'ArrowDown':
          const decreaseVolume = (this.volume - 0.1) * 100 < 0 ? 0 : (this.volume - 0.1) * 100
          if (this.volume > 0 ) this.updateVolume(decreaseVolume.toString())
          break;
      }
    },

    showHiddenBar() {
      const controlBar = this.$refs.controlBar as ControlBarElement
      controlBar.showHiddenBar()
    }
  },
  mounted () {
    this.isMounted = true
    this.player = this.$refs.videoPlayer as HTMLVideoElement
    this.volume = this.player.volume
    window.addEventListener('keyup', this.keyboardHandler)
  },
  unmounted () {
    window.removeEventListener('keyup', this.keyboardHandler);
  }
})
</script>

<style lang="postcss" scoped>
.btn {
  @apply flex justify-center items-center outline-none;
}

.btn span{
  @apply rounded-full bg-black bg-opacity-30 p-6 text-white text-6xl opacity-0  transition-opacity duration-200 ease-in-out;
}

.activeBtn span{
  @apply opacity-100;
}
</style>